<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>
</head>
<body class="container">

<header>
    <%- include('../layouts/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p id="msg"></p>
    </div>
</main>

<footer>
    <%- include('../layouts/footer'); %>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
    socket.emit('welcome', 'this text from socket.io') // kirim ke server
    socket.on('welcome', (msg) => { // diteruskan dari server ke client
        $('#msg').text(msg)
    })
</script>

</body>
</html>